details.bordered {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}

summary.bordered {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details.bordered[open] {
  padding: .5em;
}

details.bordered[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

blockquote.bordered {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
}

.emoji {
  font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}