.projects
{
    display: grid;

    grid-template-columns: 1fr 1fr;
    @media (max-width: 450px)
    {
        grid-template-columns: 1fr;
    }

    grid-gap: calc(10px + 0.5vw) calc(10px + 0.5vw);
    justify-items: stretch;
    font-size: 0.8em;
}

.project
{
    padding: calc(10px + 1vw);
    background-color: #F2F2F2;
    border-radius: 5px;
    text-align: center;

    .icon
    {
      width: calc(20px + 1vw);
      height: calc(20px + 1vw);
      stroke: currentColor;
      stroke-width: 2;
      fill: none;
    }

    p
    {
        margin: 0.2vw 0 0 0;
        vertical-align: middle;
    }
}