{{- /* Footer custom content area start */ -}}
<footer class="footer">
  <h1>{{ if eq .Lang "de" }}Hier könnt ihr meine open-source Arbeit unterstützen:{{ else }}Here you can support my open-source work:{{ end }}</h1>
    <h2>
      <a href="https://github.com/sponsors/iwilltry42">GitHub Sponsors</a> | <a href="https://liberapay.com/iwilltry42/donate">Liberapay</a> | <a href="http://buymeacoffee.com/thklein">BuyMeACoffee</a>
    </h2>
    <br>
    <div>
      <a href='{{ if eq .Lang "de" }}/de/impressum{{ else }}/legal{{end}}'>{{ if eq .Lang "de" }}Impressum{{ else }}Legal Notice{{ end }}</a>
    </div>
</footer>
{{- /* Footer custom content area end */ -}}
